@using CougarTown.Models.BaseModels
@model User


@{
    ViewBag.Title = "UpdateUser";
}

<h2>UpdateUser</h2>

<div class="col-lg-12">
    <div class="row">
        <form action="/CougarManagement/Pimp/UpdateUserSubmit" method="post" enctype="multipart/form-data">
            <table class="table">
                <tr>
                    <td>
                        <h3>Display Name:</h3>
                    </td>
                    <td>
                        <input type="text" name="DisplayName" class="form-control" value="@Model.DisplayName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Name:</h3>
                    </td>
                    <td>
                        <input type="text" name="Name" class="form-control" value="@Model.Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Password:</h3>
                    </td>
                    <td>
                        <input type="password" name="Password" class="form-control" value="@Model.Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Gender:</h3>
                    </td>
                    <td>
                        <select name="Gender" class="form-control">
                            <option value="Undefined">Undefined</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Age:</h3>
                    </td>
                    <td>
                        <input type="number" name="Age" class="form-control" value="@Model.Age" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Email:</h3>
                    </td>
                    <td>
                        <input type="email" name="Email" class="form-control" value="@Model.Email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Profile Image:</h3>
                    </td>
                    <td>
                        <input type="file" name="file" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Save" class="form-control" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>